.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  background-color:  #6f42c1 ;
  margin-right: 8px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}
.prompt {
  font-size: 1.2em;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.code-buttons{
  text-align: right;
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.array {
  width: 80px;
}
.hidden {
  display: none;
}
.text-large {
  font-size: 1.4em;
}
